<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testallocation -->
      <package
            uri="testallocation"
            class="org.sheepy.lily.core.allocation.test.testallocation.TestallocationPackage"
            genModel="model/testallocation.genmodel"/>
   </extension>

</plugin>
