<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Types -->
      <package
            uri="org.sheepy.common.model.types"
            class="org.sheepy.common.model.types.TypesPackage"
            genModel="src/main/xcore/Types.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Application -->
      <package
            uri="org.sheepy.common.model.application"
            class="org.sheepy.common.model.application.ApplicationPackage"
            genModel="src/main/xcore/Application.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Presentation -->
      <package
            uri="org.sheepy.common.model.presentation"
            class="org.sheepy.common.model.presentation.PresentationPackage"
            genModel="src/main/xcore/Presentation.xcore"/>
   </extension>

</plugin>
