<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Types -->
      <package
            uri="org.sheepy.lily.core.model.types"
            class="org.sheepy.lily.core.model.types.TypesPackage"
            genModel="src/main/xcore/Types.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Types -->
      <parser
            type="types"
            class="org.sheepy.lily.core.model.types.util.TypesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Application -->
      <package
            uri="org.sheepy.lily.core.model.application"
            class="org.sheepy.lily.core.model.application.ApplicationPackage"
            genModel="src/main/xcore/Application.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Application -->
      <parser
            type="application"
            class="org.sheepy.lily.core.model.application.util.ApplicationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Presentation -->
      <package
            uri="org.sheepy.lily.core.model.presentation"
            class="org.sheepy.lily.core.model.presentation.PresentationPackage"
            genModel="src/main/xcore/Presentation.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Presentation -->
      <parser
            type="presentation"
            class="org.sheepy.lily.core.model.presentation.util.PresentationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Root -->
      <package
            uri="org.sheepy.lily.core.model.root"
            class="org.sheepy.lily.core.model.root.RootPackage"
            genModel="src/main/xcore/Root.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Root -->
      <parser
            type="root"
            class="org.sheepy.lily.core.model.root.util.RootResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UI -->
      <package
            uri="org.sheepy.lily.core.model.ui"
            class="org.sheepy.lily.core.model.ui.UiPackage"
            genModel="src/main/xcore/UI.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UI -->
      <parser
            type="ui"
            class="org.sheepy.lily.core.model.ui.util.UiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Inference -->
      <package
            uri="org.sheepy.lily.core.model.inference"
            class="org.sheepy.lily.core.model.inference.InferencePackage"
            genModel="src/main/xcore/Inference.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Inference -->
      <parser
            type="inference"
            class="org.sheepy.lily.core.model.inference.util.InferenceResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Variable -->
      <package
            uri="org.sheepy.lily.core.model.variable"
            class="org.sheepy.lily.core.model.variable.VariablePackage"
            genModel="src/main/xcore/Variable.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Variable -->
      <parser
            type="variable"
            class="org.sheepy.lily.core.model.variable.util.VariableResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Action -->
      <package
            uri="org.sheepy.lily.core.model.action"
            class="org.sheepy.lily.core.model.action.ActionPackage"
            genModel="src/main/xcore/Action.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Action -->
      <parser
            type="action"
            class="org.sheepy.lily.core.model.action.util.ActionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Resolver -->
      <package
            uri="org.sheepy.lily.core.model.resolver"
            class="org.sheepy.lily.core.model.resolver.ResolverPackage"
            genModel="src/main/xcore/Resolver.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Resolver -->
      <parser
            type="resolver"
            class="org.sheepy.lily.core.model.resolver.util.ResolverResourceFactoryImpl"/>
   </extension>

</plugin>
